In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn 
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [22]:
data=pd.read_csv('students.csv') # after we are performing EDV start the model building

In [23]:
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total_score,avg_score
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,282,94.000000
996,male,group C,high school,free/reduced,none,62,55,55,172,57.333333
997,female,group C,high school,free/reduced,completed,59,71,65,195,65.000000
998,female,group D,some college,standard,completed,68,78,77,223,74.333333
999,female,group D,some college,free/reduced,none,77,86,86,249,83.000000

In [25]:
X = data.drop(columns=['math score'],axis=1)

In [26]:
y=data['math score']

In [27]:
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

In [41]:
print(f'numeric value present in the  columns are:{num_features}')
print(f'Categorical value present in the columns : {cat_features}')

numeric value present in the  columns are:Index(['reading score', 'writing score', 'Total_score', 'avg_score'], dtype='object')
Categorical value present in the columns : Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course'],
      dtype='object')

In [43]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler # converting categorical values in the numeric
from sklearn.compose import ColumnTransformer

categoric_transformer=OneHotEncoder()
numeric_transformer=StandardScaler()

In [48]:
transformer=(ColumnTransformer(
[
    ("OneHotEncoder",categoric_transformer,cat_features),
    ("standardScaler",numeric_transformer,num_features)
]))

In [49]:
x=transformer.fit_transform(X)

In [52]:
x.shape

(1000, 21)

In [55]:
from sklearn.model_selection import train_test_split

In [64]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [65]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [66]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()}

In [67]:
model_list = []
r2_list =[]

In [71]:
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(x_train, y_train) # Train model

    # Make predictions using the models
    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('--------------++++++++++++++++++++++++++++++++++++++++++++++++++++--------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
--------------++++++++++++++++++++++++++++++++++++++++++++++++++++--------------------
Model performance for Test set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 4.7381
- Mean Absolute Error: 3.7439
- R2 Score: 0.9004
--------------++++++++++++++++++++++++++++++++++++++++++++++++++++--------------------
Model performance for Test set
- Root Mean Squared Error: 4.7171
- Mean Absolute Error: 3.7579
- R2 Score: 0.9086
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 0.3396
- Mean Absolute Error: 0.2724
- R2 Score: 0.9995
--------------++++++++++++++++++++++++++++++++++++++++++++++++++++--------------------
Model performance for Test set
- Root Mean Squared Error: 0.3432
- Mean Absolute Error: 0.2684
- R2 Score: 0.9995
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 4.2770
- Mean Absolute Error: 3.3823
- R2 Score: 0.9189
--------------++++++++++++++++++++++++++++++++++++++++++++++++++++--------------------
Model performance for Test set
- Root Mean Squared Error: 5.1788
- Mean Absolute Error: 4.0460
- R2 Score: 0.8898
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
--------------++++++++++++++++++++++++++++++++++++++++++++++++++++--------------------
Model performance for Test set
- Root Mean Squared Error: 3.7709
- Mean Absolute Error: 3.0100
- R2 Score: 0.9416
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 1.1030
- Mean Absolute Error: 0.8355
- R2 Score: 0.9946
--------------++++++++++++++++++++++++++++++++++++++++++++++++++++--------------------
Model performance for Test set
- Root Mean Squared Error: 3.0309
- Mean Absolute Error: 2.1477
- R2 Score: 0.9622
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 0.1150
- Mean Absolute Error: 0.0829
- R2 Score: 0.9999
--------------++++++++++++++++++++++++++++++++++++++++++++++++++++--------------------
Model performance for Test set
- Root Mean Squared Error: 2.4466
- Mean Absolute Error: 1.8871
- R2 Score: 0.9754
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 0.9428
- Mean Absolute Error: 0.7702
- R2 Score: 0.9961
--------------++++++++++++++++++++++++++++++++++++++++++++++++++++--------------------
Model performance for Test set
- Root Mean Squared Error: 2.7861
- Mean Absolute Error: 1.9234
- R2 Score: 0.9681
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 3.9501
- Mean Absolute Error: 3.1835
- R2 Score: 0.9308
--------------++++++++++++++++++++++++++++++++++++++++++++++++++++--------------------
Model performance for Test set
- Root Mean Squared Error: 4.3367
- Mean Absolute Error: 3.4452
- R2 Score: 0.9227
===================================

In [72]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score']).sort_values(by=["R2_Score"],ascending=False)

                 Model Name  R2_Score
0         Linear Regression  1.000000
9         Linear Regression  1.000000
2                     Ridge  0.999516
11                    Ridge  0.999516
6              XGBRegressor  0.975401
15             XGBRegressor  0.975401
7     CatBoosting Regressor  0.968100
16    CatBoosting Regressor  0.968100
14  Random Forest Regressor  0.962247
5   Random Forest Regressor  0.962122
13            Decision Tree  0.941563
4             Decision Tree  0.936611
8        AdaBoost Regressor  0.927514
17       AdaBoost Regressor  0.922712
1                     Lasso  0.908560
10                    Lasso  0.908560
3     K-Neighbors Regressor  0.889781
12    K-Neighbors Regressor  0.889781

In [74]:
lin_model = LinearRegression(fit_intercept=True)
lin_model = lin_model.fit(x_train, y_train)
y_pred = lin_model.predict(x_test)
score = r2_score(y_test, y_pred)*100
print(" Accuracy of the model is %.2f" %score)

 Accuracy of the model is 100.00

In [75]:
pred_df=pd.DataFrame({'Actual Value':y_test,'Predicted Value':y_pred,'Difference':y_test-y_pred})
pred_df

     Actual Value  Predicted Value    Difference
521            91             91.0 -2.131628e-13
737            53             53.0  3.552714e-14
740            80             80.0 -8.526513e-14
660            74             74.0 -7.105427e-14
411            84             84.0 -1.421085e-13
..            ...              ...           ...
408            52             52.0  1.563194e-13
332            62             62.0  1.421085e-13
208            74             74.0 -9.947598e-14
613            65             65.0 -7.105427e-14
78             61             61.0 -4.973799e-14

[200 rows x 3 columns]